:root {
    --light: #fff5bb;
    --blue: #9cbcbc;
}

*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background-color: var(--blue);
}

h1 {
    font-size: 40px;
    text-align: center;
}

nav {
    padding: 15px;
}

nav a {
    text-decoration: none;
    padding: 5px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    padding-top: 10px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#main-img {
    margin: 10px;
    width: 100%;
    align-self: center;
}

#small-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-img {
    margin-bottom: 10px;
    width: 40%;
}

#about-me {
    text-align: center;
}