:root {
    --light: #fff5bb;
    --blue: #9cbcbc;
}

*, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background-color: var(--blue);
}

h1 {
    font-size: 50px;
    text-align: center;
}

nav {
    padding: 15px;
}

.top-links {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    padding-top: 10px;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.project-title {
    font-size: 30px;
}

#pro-pic {
    display: flex;
    align-self: center;
    width: 15%;
}

#main-img {
    margin: 10px;
    width: 50%;
}

#small-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.sub-img {
    width: 20%;
    padding: 20px;
}

#about-me {
    text-align: center;
}

#email {
    display: flex;
    align-self: center;
}

#csssheet {
    padding: 0;
    display: block;
    flex-direction: row;
    justify-content: center;
}

#contact-me {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}